<div fxLayout="row wrap" style="width:100%; height:100%;" fxLayoutAlign="start start" [fxShow]="true" [fxHide]="false">
  <div fxLayout="column wrap" style="background-color:rgb(215 1 50); height:100%;" fxFlex="20" fxLayoutAlign="start center" [fxShow]="true" [fxHide]="false">
    <div fxLayout="column wrap" style="width:100%;" fxLayoutAlign="center start" [fxShow]="true" [fxHide]="false">
      <div fxLayout="column wrap" style="background-color:black; width:100%; height:60px;" fxLayoutAlign="center start" [fxShow]="true" [fxHide]="false"><img imgSrc="/MaterialIcons/iconfont/absa.png" style="margin-top:50px; margin-left:90px;"></div>
      <div fxLayout="column wrap" style="color:white;padding-top:50px; margin-left:50px;line-height:25px;" fxLayoutAlign="start start" [fxShow]="true" [fxHide]="false">
        <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <mat-icon class="dashboard-icons">dashboard</mat-icon>
          <p class="dashboard">
            Dashboard</p>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <mat-icon class="dashboard-icons">person</mat-icon>
          <p class="dashboard">
            Costomers</p>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <mat-icon class="dashboard-icons">star</mat-icon>
          <p class="dashboard">
            Products</p>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <mat-icon class="dashboard-icons">settings</mat-icon>
          <p class="dashboard">
            Sales</p>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <mat-icon class="dashboard-icons">poll</mat-icon>
          <p class="dashboard">
            Reports</p>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <mat-icon class="dashboard-icons">settings</mat-icon>
          <p class="dashboard">
            Settings</p>
        </div>
      </div>
      <div fxLayout="column wrap" style="width:100%; margin-top:180px;" fxLayoutAlign="end center" [fxShow]="true" [fxHide]="false"><button mat-button style="color:white;" (click)="onClick()" type="button">Logout</button></div>
    </div>
  </div>
  <div fxLayout="column wrap" style="background-color: whitesmoke;" fxFlex="80" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="row wrap" style="width:100%;height:100%; " fxLayoutAlign="end stretch" [fxShow]="true" [fxHide]="false">
      <div fxLayout="row wrap" style="padding:25px 35px;" fxLayoutAlign="end center" [fxShow]="true" [fxHide]="false">
        <div fxLayout="row wrap" style="width:100px;" fxLayoutAlign="space-between center" [fxShow]="true" [fxHide]="false">
          <mat-icon>menu</mat-icon><img imgSrc="/MaterialIcons/iconfont/profilepic.jpg" style="margin-left:0px;" class="dashboard-image">
          <mat-icon>menu</mat-icon>
        </div>
      </div>
    </div>
  </div>
</div>