<div fxLayout="row wrap" style="width:100%; height:100%;" fxLayoutAlign="start start" [fxShow]="true" [fxHide]="false">
  <div fxLayout="column wrap" style="height:100%;background-color:rgb(215 1 50,); " fxFlex="20" fxLayoutAlign="start center" [fxShow]="true" [fxHide]="false">
    <div fxLayout="column wrap" style="width:100%;background-color:rgb(215 1 50); " fxLayoutAlign="center start" [fxShow]="true" [fxHide]="false">
      <div fxLayout="column wrap" style="background-color:black; width:100%; height:60px;" fxLayoutAlign="center start" [fxShow]="true" [fxHide]="false"><img imgSrc="/MaterialIcons/iconfont/absa.png" style="margin-top:50px; margin-left:90px;z-index:1;"></div>
      <div fxLayout="column wrap" style="background-color:rgb(215 1 50); color:white;padding-top:50px; margin-left:60px;line-height:27px;opacity:0.8;" fxLayoutAlign="start start" [fxShow]="true" [fxHide]="false">
        <div fxLayout="row wrap" style="cursor:pointer;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <mat-icon class="dashboard-icons">dashboard</mat-icon>
          <p href="/login" class="dashboard">
            Dashboard</p>
        </div>
        <div fxLayout="row wrap" style="cursor:pointer;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false" routerLink="/customer">
          <mat-icon class="dashboard-icons">person</mat-icon>
          <p class="dashboard">
            Costomers</p>
        </div>
        <div fxLayout="row wrap" style="cursor:pointer;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <mat-icon class="dashboard-icons">star</mat-icon>
          <p class="dashboard">
            Products</p>
        </div>
        <div fxLayout="row wrap" style="cursor:pointer;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <mat-icon class="dashboard-icons">dashboard</mat-icon>
          <p class="dashboard">
            Sales</p>
        </div>
        <div fxLayout="row wrap" style="cursor:pointer;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <mat-icon class="dashboard-icons">poll</mat-icon>
          <p class="dashboard">
            Reports</p>
        </div>
        <div fxLayout="row wrap" style="cursor:pointer;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <mat-icon class="dashboard-icons">settings</mat-icon>
          <p class="dashboard">
            Settings</p>
        </div>
      </div>
      <div fxLayout="column wrap" style="width:100%; margin-top:170px; margin-bottom:10px;" fxLayoutAlign="end center" [fxShow]="true" [fxHide]="false"><button mat-button style="color:white; opacity:0.8;" (click)="onClick()" type="button">Logout</button></div>
    </div>
  </div>
  <div fxLayout="column wrap" style="height:100%;background-color: whitesmoke;" fxFlex="80" fxLayoutAlign="start center" [fxShow]="true" [fxHide]="false">
    <div fxLayout="row wrap" style="width:100%;height:4rem;" fxLayoutAlign="end center" [fxShow]="true" [fxHide]="false">
      <div fxLayout="row wrap" style=" padding:5px 35px; " fxLayoutAlign="end center" [fxShow]="true" [fxHide]="false">
        <div fxLayout="row wrap" style="width:100px;" fxLayoutAlign="space-between center" [fxShow]="true" [fxHide]="false">
          <mat-icon>notifications</mat-icon><img imgSrc="/MaterialIcons/iconfont/profilepic.jpg" class="dashboard-image">
          <mat-icon>menu</mat-icon>
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>
    <div fxLayout="row wrap" class="worklist" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false">
      <div fxLayout="row wrap" style="padding: 5px 0px;" class="worklist-content" fxLayoutAlign="start end" [fxShow]="true" [fxHide]="false">
        <div fxLayout="row wrap" fxFlex="25" fxLayoutAlign="start end" [fxShow]="true" [fxHide]="false">
          <div fxLayout="row wrap" class="worklist-header" fxLayoutAlign="start end" [fxShow]="true" [fxHide]="false">
            <div>
              Worklist</div>
          </div>
          <div fxLayout="row wrap" class="worklist-add" fxLayoutAlign="start center" [fxShow]="true" [fxHide]="false" (click)="showUSerForm()"><span style="font-size:12px; margin-left:28px;">
                Add</span>
            <div fxLayout="row wrap" class="woworklist-add-icon" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <mat-icon style="font-size:16px;">add</mat-icon>
            </div>
          </div>
        </div>
        <div fxLayout="row wrap" fxFlex="75" fxLayoutAlign="end end" [fxShow]="true" [fxHide]="false">
          <div fxLayout="row wrap" class="worklist-serchIcon" fxLayoutAlign="end end" [fxShow]="true" [fxHide]="false">
            <mat-icon style="cursor:pointer;" (click)="searchUSer()">search</mat-icon>
          </div>
        </div>
      </div>
    </div>
    <div fxLayout="row wrap" style="width:100%; margin-top:15px;" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false" *ngIf="userDetailsForm" (click)="showUserForm()">
      <mat-card style="width:78%;">
        <mat-card-title style="font-size:16px;">Enter USer Details</mat-card-title>

        <mat-card-content align="justify">
          <div fxLayout="row wrap" style="width:100%;" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false">
            <form [formGroup]="userForm">
              <div fxLayout="column wrap" fxLayoutGap="25px" fxLayoutAlign="space-between stretch" [fxShow]="true" [fxHide]="false">
                <div fxLayout="row wrap" style="width:100%;" fxLayoutGap="20px" fxLayoutAlign="space-between stretch" [fxShow]="true" [fxHide]="false">
                  <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                    <p style="margin-right:20px; margin-top:18px;">
                      User Id</p>
                    <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
                      <input matInput placeholder="Id" [required]="false" formControlName="userid">

                    </mat-form-field>
                  </div>
                  <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                    <p style="margin-right:20px; margin-top:18px;">
                      Name</p>
                    <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
                      <input matInput placeholder="Name" [required]="false" formControlName="username">

                    </mat-form-field>
                  </div>
                </div>
                <div fxLayout="row wrap" style="width:100%;" fxLayoutGap="40px" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                  <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                    <p style="margin-right:20px; margin-top:18px;">
                      Description</p>
                    <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
                      <input matInput placeholder="Description" [required]="false" formControlName="userdescription">

                    </mat-form-field>
                  </div>
                  <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                    <p style="margin-right:20px; margin-top:18px;">
                      Due Date</p>
                    <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
                      <input matInput placeholder="Due Date" [required]="false" formControlName="userdate">

                    </mat-form-field>
                  </div>
                </div>
                <div fxLayout="row wrap" style="width:100%;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                  <p style="margin-right:20px; margin-top:18px;">
                    Owner</p>
                  <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
                    <input matInput placeholder="Input" [required]="false" formControlName="ownername">

                  </mat-form-field>
                </div>
                <div fxLayout="row wrap" fxLayoutAlign="end stretch" [fxShow]="true" [fxHide]="false"><button mat-raised-button style="width:25%; background-color:#28a745;" (click)="onSubmit()">Submit</button></div>
              </div>
            </form>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxLayout="row wrap" style="width:80%; margin-top:5px;" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false" *ngIf="showUserDetails">
      <div fxLayout="row wrap" style="width:100%;" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
        <div fxLayout="row wrap" style="width:100%;" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
          <div fxLayout="column" style="width:100%; cursor:pointer;">
            <table mat-table [dataSource]="datasource" matSort class="table-width-fix">
              <tr mat-header-row *matHeaderRowDef="[&apos;id&apos;,&apos;name&apos;,&apos;description&apos;,&apos;date&apos;,&apos;owner&apos;,&apos;127627af-24a1-afda-c971-8cb4c2c382d2&apos;]"></tr>
              <tr mat-row (click)="selectRow(row)" *matRowDef="let row; columns: [&apos;id&apos;,&apos;name&apos;,&apos;description&apos;,&apos;date&apos;,&apos;owner&apos;,&apos;127627af-24a1-afda-c971-8cb4c2c382d2&apos;];"></tr>

              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Task ID</th>
                <td mat-cell *matCellDef="let table; let i = index;">{{table.id}}</td>
              </ng-container>

              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Task Name</th>
                <td mat-cell *matCellDef="let table; let i = index;">{{table.name}}</td>
              </ng-container>

              <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef>Description</th>
                <td mat-cell *matCellDef="let table; let i = index;">{{table.description}}</td>
              </ng-container>

              <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Due Date</th>
                <td mat-cell *matCellDef="let table; let i = index;" class="colomn">{{table.date}}</td>
              </ng-container>

              <ng-container matColumnDef="owner">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Owner</th>
                <td mat-cell *matCellDef="let table; let i = index;">{{table.owner}}</td>
              </ng-container>

              <ng-container matColumnDef="127627af-24a1-afda-c971-8cb4c2c382d2">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let table; let i = index;">
                  <div fxLayout="row wrap" fxLayoutAlign="start center" [fxShow]="true" [fxHide]="false">
                    <mat-icon style="font-size:16px;">edit</mat-icon>
                    <mat-icon style="font-size:16px; color:red;" (click)="deleteRow(row)">delete</mat-icon>
                  </div>
                </td>
              </ng-container>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>