<div fxLayout="row wrap" style="width:100%;" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
  <div fxLayout="row wrap" style="width:100%; padding:15px;" fxLayoutGap="5px" fxLayoutAlign="start start" [fxShow]="true" [fxHide]="false">
    <div fxLayout="column wrap" fxFlex="25" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
      <mat-card style="width:80%; height:20rem; border-radius:15px;">
        <mat-card-content align="left">
          <div fxLayout="column wrap" style="height:20rem; line-height:30px; padding-left:25px 15px;" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false">
            <div fxLayout="row wrap" style=" opacity:0.6;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <mat-icon style="margin-top:5px; margin-right:10px;">person</mat-icon>
              <div fxLayout="column wrap" style="line-height:18px;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><span style="font-size:12px;">
                Customer Name</span>
                <p style="margin-top:0px;font-size:16px;">
                  Manisuresh</p>
              </div>
            </div>
            <div fxLayout="row wrap" style="opacity:0.6;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <mat-icon style="margin-top:5px; margin-right:10px;">menu</mat-icon>
              <div fxLayout="column wrap" style="line-height:18px;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><span style="font-size:12px;">
                Referense Number</span>
                <p style="margin-top:0px;font-size:16px;">
                  EC0215466587</p>
              </div>
            </div>
            <div fxLayout="row wrap" style="opacity:0.6;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <mat-icon style="margin-top:5px; margin-right:10px;">settings</mat-icon>
              <div fxLayout="column wrap" style="line-height:18px;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><span style="font-size:12px;">
                Date Lead Received</span>
                <p style="margin-top:0px;font-size:16px;">
                  13/08/2021, 12.08AM</p>
              </div>
            </div>
            <div fxLayout="column wrap" style="width:100%;" fxLayoutGap="15px" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
              <div fxLayout="row wrap" style="border-radius: 20px;width:70%; height:35px;background-color:#28a745; padding:auto;" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
                <div style="color:white;">
                  Accept Proposal</div>
                <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"></div>
              </div>
              <div fxLayout="row wrap" style="border-radius: 20px;width:70%;height:35px;background-color:#dc3545; padding:auto;" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
                <div style="color:white;">
                  Decline Proposal</div>
              </div>
              <div fxLayout="row wrap" style="border-radius: 20px;width:70%; height:35px;background-color:#007bfe; padding:auto;" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
                <div>
                  Refer Proposal</div>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxLayout="column wrap" style="height:100%; padding-left:10px;" fxFlex="74" fxLayoutAlign="space-between stretch" [fxShow]="true" [fxHide]="false">
      <div fxLayout="row wrap" style="border-bottom: 1px solid rgb(209, 206, 206);" fxLayoutAlign="start center" [fxShow]="true" [fxHide]="false">
        <div fxLayout="row wrap" fxFlex="90" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <div style="font-weight:600;">
            Contact Person Details</div>
        </div>
        <div fxLayout="row wrap" style="cursor:pointer;" fxFlex="10" fxLayoutAlign="end stretch" [fxShow]="true" [fxHide]="false"><img imgSrc="/MaterialIcons/iconfont/271218.png" style="width:15px;height:10px; margin-top:4px;margin-right:4px;">
          <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <div>
              Back</div>
          </div>
        </div>
      </div>
      <div fxLayout="column wrap" style="margin-top:20px; height:100%; opacity:0.6;" fxLayoutGap="10px" fxLayoutAlign="space-between space-between" [fxShow]="true" [fxHide]="false">
        <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <div fxLayout="row wrap" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false">
            <mat-icon style="margin-top:5px; margin-right:10px;">person</mat-icon>
            <div fxLayout="column wrap" style="line-height:18px;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><span style="font-size:12px;">
                Name</span>
              <p style="margin-top:0px;font-size:16px;">
                Manisuresh</p>
            </div>
          </div>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <div fxLayout="row wrap" style="font-size:16px;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <mat-icon style="margin-top:5px; margin-right:10px;">person</mat-icon>
            <div fxLayout="column wrap" style="line-height:18px;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><span style="font-size:12px;">
                Surname</span>
              <p style="margin-top:0px;font-size:16px;">
                Manisuresh</p>
            </div>
          </div>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <div fxLayout="row wrap" style="font-size:16px;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <mat-icon style="margin-top:5px; margin-right:10px;">email</mat-icon>
            <div fxLayout="column wrap" style="line-height:18px;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><span style="font-size:12px;">
                Email</span>
              <p style="margin-top:0px;font-size:16px;">
                manisureshsocial@gmail.com</p>
            </div>
          </div>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <div fxLayout="row wrap" style="font-size:16px;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <mat-icon style="margin-top:5px; margin-right:10px;">phone</mat-icon>
            <div fxLayout="column wrap" style="line-height:18px;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><span style="font-size:12px;">
                Primary Contact Numbar</span>
              <p style="margin-top:0px;font-size:16px;">
                9876543210</p>
            </div>
          </div>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <div fxLayout="row wrap" style="font-size:16px;" fxLayoutGap="10px" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <mat-icon>phone</mat-icon>
            <div fxLayout="column wrap" style="line-height:18px;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><span style="font-size:12px;">
                Secondary Contact Number</span>
              <p style="margin-top:0px;font-size:16px;">
                9854857452</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>