<div fxLayout="column wrap" style="width:100%; height:100%;padding:5px; background-color:whitesmoke;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <div fxLayout="row wrap" style="width:100%;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <mat-horizontal-stepper [linear]="false" style="width:100%; background-color:whitesmoke;">
      <mat-step label="Lead Triggred" completed="true"></mat-step>
      <mat-step label="Contact lead &amp; Propose Project" completed="true"></mat-step>
      <mat-step label="Mail sent to customer" completed="true"></mat-step>
      <mat-step label="Await Proposal Acceptance" editable="true" style="height:100%;width:100%;">
        <div fxLayout="column wrap" style="width:100%;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <div fxLayout="row wrap" class="worklist" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false">
            <div fxLayout="row wrap" style="padding: 5px 0px;" class="worklist-content" fxLayoutAlign="start end" [fxShow]="true" [fxHide]="false">
              <div fxLayout="row wrap" fxFlex="25" fxLayoutAlign="start end" [fxShow]="true" [fxHide]="false">
                <div fxLayout="row wrap" class="worklist-header" fxLayoutAlign="start end" [fxShow]="true" [fxHide]="false">
                  <div>
                    Worklist</div>
                </div>
              </div>
              <div fxLayout="row wrap" fxFlex="75" fxLayoutAlign="end end" [fxShow]="true" [fxHide]="false">
                <div fxLayout="row wrap" class="worklist-serchIcon" fxLayoutAlign="end end" [fxShow]="true" [fxHide]="false">
                  <mat-icon>search</mat-icon>
                </div>
              </div>
            </div>
          </div>
          <div fxLayout="row wrap" style="width:100%; margin-top:15px;" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false">
            <div fxLayout="row wrap" style="width:80%; padding:0px 15px;" class="taskdetails" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false">
              <div fxLayout="row wrap" style="padding:2px;" fxFlex="20" fxLayoutAlign="space-between stretch" [fxShow]="true" [fxHide]="false">
                <div style="padding:2px;">
                  Task ID</div>
                <div fxLayout="row wrap" class="taskDropdown" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                  <div>
                    Task Name</div><img imgSrc="/MaterialIcons/iconfont/DropDown.png" style="width:10px;height:10px;margin-left:5px; margin-top:5px;">
                </div>
              </div>
              <div fxLayout="row wrap" style="padding:2px;" fxFlex="45" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false">
                <div>
                  Task Description</div>
              </div>
              <div fxLayout="row wrap" style="padding:2px;" fxFlex="35" fxLayoutAlign="space-between space-around" [fxShow]="true" [fxHide]="false">
                <div fxLayout="row wrap" class="taskDropdown" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                  <div>
                    Due Date</div><img imgSrc="/MaterialIcons/iconfont/DropDown.png" style="width:10px;height:10px;margin-left:5px; margin-top:5px;">
                </div>
                <div fxLayout="row wrap" class="taskDropdown" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                  <div>
                    Owner</div><img imgSrc="/MaterialIcons/iconfont/DropDown.png" style="width:10px;height:10px;margin-left:5px; margin-top:5px;">
                </div>
                <div style="padding:2px;">
                  Actions</div>
              </div>
            </div>
          </div>
          <div fxLayout="row wrap" style="width:100%;" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
            <div fxLayout="row wrap" style="width:80%;padding:5px;" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
              <div fxLayout="row wrap" style="padding:2px; width:100%;" fxLayoutAlign="space-between center" [fxShow]="true" [fxHide]="false">
                <div fxLayout="column" style="width:100%;">
                  <table mat-table [dataSource]="datasource" class="table-width-fix">

                    <tr mat-row *matRowDef="let row; columns: [&apos;position&apos;,&apos;name&apos;,&apos;description&apos;,&apos;weight&apos;,&apos;symbol&apos;,&apos;987db608-8420-386d-7bfe-d86b174b2622&apos;];"></tr>

                    <ng-container matColumnDef="position">
                      <th mat-header-cell *matHeaderCellDef>ID</th>
                      <td mat-cell *matCellDef="let table; let i = index;">{{table.position}}</td>
                    </ng-container>

                    <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef>Position</th>
                      <td mat-cell *matCellDef="let table; let i = index;">{{table.name}}</td>
                    </ng-container>

                    <ng-container matColumnDef="description">
                      <th mat-header-cell *matHeaderCellDef>Name</th>
                      <td mat-cell *matCellDef="let table; let i = index;">{{table.description}}</td>
                    </ng-container>

                    <ng-container matColumnDef="weight">
                      <th mat-header-cell *matHeaderCellDef>Weight</th>
                      <td mat-cell *matCellDef="let table; let i = index;">{{table.weight}}</td>
                    </ng-container>

                    <ng-container matColumnDef="symbol">
                      <th mat-header-cell *matHeaderCellDef>Symbol</th>
                      <td mat-cell *matCellDef="let table; let i = index;" class="colomn">{{table.symbol}}</td>
                    </ng-container>

                    <ng-container matColumnDef="987db608-8420-386d-7bfe-d86b174b2622">
                      <th mat-header-cell *matHeaderCellDef></th>
                      <td mat-cell *matCellDef="let table; let i = index;">
                        <div fxLayout="row wrap" style="margin-right:0px; padding-left:10px;" fxLayoutAlign="center end" [fxShow]="true" [fxHide]="false">
                          <mat-icon style="font-size:16px;">edit</mat-icon>
                          <mat-icon style="font-size:16px; color:red;">delete</mat-icon>
                        </div>
                      </td>
                    </ng-container>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-step>
      <mat-step label="Cunduct Risk Assessment"></mat-step>
      <mat-step label="Prepare Marchent Application"></mat-step>
      <mat-step label="Finalize Marchent Application">
        <div fxLayout="column wrap" style="margin-top:0px;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <div fxLayout="column wrap" style="width:100%;" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false">
              <div fxLayout="row wrap" style="width:100%; " fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false">
                <div fxLayout="row wrap" style=" width:80%;     height:30px;     padding: 5px 0px;" fxLayoutAlign="start end" [fxShow]="true" [fxHide]="false">
                  <div fxLayout="row wrap" style="width:100%;" fxFlex="65" fxLayoutAlign="start end" [fxShow]="true" [fxHide]="false">
                    <div fxLayout="row wrap" style="width:100%;font-size:20px; letter-spacing: 1px;" fxLayoutAlign="start end" [fxShow]="true" [fxHide]="false">
                      <div>
                        Contact Person Details</div>
                    </div>
                  </div>
                  <div fxLayout="row wrap" fxFlex="35" fxLayoutAlign="end end" [fxShow]="true" [fxHide]="false">
                    <div fxLayout="row wrap" style="cursor:pointer;" fxLayoutAlign="end stretch" [fxShow]="true" [fxHide]="false"><img imgSrc="/MaterialIcons/iconfont/271218.png" style="width:15px;height:10px; margin-top:4px;margin-right:4px;">
                      <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                        <div>
                          Back</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div fxLayout="column wrap" style="width:100%;" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
                <mat-card style="width:78%; margin-top:15px;">
                  <mat-card-content>
                    <div fxLayout="column wrap" style="padding:40px;" fxLayoutGap="25px" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                      <div fxLayout="row wrap" fxLayoutAlign="space-between stretch" [fxShow]="true" [fxHide]="false">
                        <div fxLayout="row wrap" style=" opacity:0.6;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                          <mat-icon style="margin-top:5px; margin-right:10px;">person</mat-icon>
                          <div fxLayout="column wrap" style="line-height:18px;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><span style="font-size:12px;">
                Customer Name</span>
                            <p style="margin-top:0px;font-size:18px;">
                              Manisuresh</p>
                          </div>
                        </div>
                        <div fxLayout="row wrap" style=" opacity:0.6;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                          <mat-icon style="margin-top:5px; margin-right:10px;">person</mat-icon>
                          <div fxLayout="column wrap" style="line-height:18px;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><span style="font-size:12px;">
                Sur Name</span>
                            <p style="margin-top:0px;font-size:18px;">
                              Manisuresh</p>
                          </div>
                        </div>
                        <div fxLayout="row wrap" style=" opacity:0.6;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                          <mat-icon style="margin-top:5px; margin-right:10px;">person</mat-icon>
                          <div fxLayout="column wrap" style="line-height:18px;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><span style="font-size:12px;">
                Reference Number</span>
                            <p style="margin-top:0px;font-size:18px;">
                              EC0215466587</p>
                          </div>
                        </div>
                      </div>
                      <div fxLayout="row wrap" fxLayoutAlign="space-between stretch" [fxShow]="true" [fxHide]="false">
                        <div fxLayout="row wrap" style=" opacity:0.6;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                          <mat-icon style="margin-top:5px; margin-right:10px;">person</mat-icon>
                          <div fxLayout="column wrap" style="line-height:18px;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><span style="font-size:12px;">
                Date Lead Received</span>
                            <p style="margin-top:0px;font-size:18px;">
                              14/08/2021, 4.30PM</p>
                          </div>
                        </div>
                        <div fxLayout="row wrap" style=" opacity:0.6;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                          <mat-icon style="margin-top:5px; margin-right:10px;">person</mat-icon>
                          <div fxLayout="column wrap" style="line-height:18px;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><span style="font-size:12px;">
                Primary Contact Number</span>
                            <p style="margin-top:0px;font-size:18px;">
                              9876543210</p>
                          </div>
                        </div>
                        <div fxLayout="row wrap" style=" opacity:0.6;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                          <mat-icon style="margin-top:5px; margin-right:10px;">person</mat-icon>
                          <div fxLayout="column wrap" style="line-height:18px;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><span style="font-size:12px;">
                Secondary Contact Number</span>
                            <p style="margin-top:0px;font-size:18px;">
                              9854755882</p>
                          </div>
                        </div>
                      </div>
                      <div fxLayout="row wrap" fxLayoutAlign="space-between stretch" [fxShow]="true" [fxHide]="false">
                        <div fxLayout="row wrap" style=" opacity:0.6;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                          <mat-icon style="margin-top:5px; margin-right:10px;">person</mat-icon>
                          <div fxLayout="column wrap" style="line-height:18px;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><span style="font-size:12px;">
                Customer Name</span>
                            <p style="margin-top:0px;font-size:18px;">
                              Manisuresh</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </mat-card-content>
                </mat-card>
                <div fxLayout="row wrap" style="width:80%; margin-top:25px;" fxLayoutGap="15px" fxLayoutAlign="end stretch" [fxShow]="true" [fxHide]="false">
                  <div fxLayout="row wrap" style="border-radius: 20px;width:180px;height:35px;background-color:#007bfe; padding:auto; cursor:pointer;" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
                    <p style="color:white;">
                      Refer Proposal</p><img imgSrc="/MaterialIcons/iconfont/select.png" style="border-radius:50%;width:20px; height:20px;background-color:white;">
                  </div>
                  <div fxLayout="row wrap" style="border-radius: 20px;width:180px;height:35px;background-color:#28a745; padding:auto; cursor:pointer;" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
                    <p style="color:white;">
                      Accept Proposal</p><img imgSrc="/MaterialIcons/iconfont/select.png" style="border-radius:50%;width:20px; height:20px;background-color:white;">
                  </div>
                  <div fxLayout="row wrap" style="border-radius: 20px;width:180px;height:35px;background-color:#dc3545; padding:auto; cursor:pointer;" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
                    <p style="color:white;">
                      Decline Proposal</p><img imgSrc="/MaterialIcons/iconfont/close.png" style="border-radius:60%;width:20px; height:20px;background-color:white;">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-step>
      <mat-step label="Verify Marchent Application Details"></mat-step>
      <mat-step label="Create Marchent Account"></mat-step>
    </mat-horizontal-stepper>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"></div>
</div>